/*#wholePage {*/
/*    !*position: absolute;*!*/
/*    !*height: 680px;*!*/
/*    !*top: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/

/*    overflow-x: auto;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    #header {*/
/*        width: 600px;*/
/*    }*/
/*}*/

@media screen and (max-width: 1280px) {
    body {
        width: 1280px;
    }
}

/*#header {*/
/*    height: 40px !important;*/
/*    display: flex !important;*/
/*    !*align-items: center !important;*!*/
/*}*/

/*#header {
    height: 40px;

    background: var(--primary-color);

    display: flex;
    align-items: center;
}

#link {
    width: 200px;

    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#homePage, #drawLots, #info {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
}*/

#link {
    height: 40px;
}

.currentsubpage::before {
    height: 40px !important;
    top: -8px !important;
}

#title {
    margin: 40px 0 0 0;
    height: fit-content;
    color: var(--dark);
    font-family: engfont, chifont, sans-serif;
    font-size: 48px;
    text-align: center;
}

#intro {
    /*margin: 40px;*/
    height: fit-content;

    color: var(--grey);
    font-size: 12px;
    text-align: center;
}

#mainPart {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculation {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#birthday {
    margin: 10px;

    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
}

#insertBox {
    margin: 10px;

    /*font-size: 12px;*/
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*.birth {*/
/*    width: 100px;*/
/*    height: 20px;*/
/*}*/

.form-floating {
    font-size: 12px !important;
    text-align: center !important;
}

.form-control {
    width: 100px !important;
    /*height: 40px !important;*/
    font-size: 16px !important;
    text-align: center !important;
}

#birthtime {
    margin: 10px;

    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
}

#timeChoose {
    width: 90%;
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time {
    width: calc(100% / 4);
    height: 40px;

    color: var(--grey);
    font-size: 10px;
    text-align: center;

    background: transparent;
    border: 1px solid var(--grey);

    font-family: engfont, chifont, sans-serif;
}

.time:hover {
    background-color: var(--grey);
    color: #fff;
}

.time.active {
    background-color: var(--grey);
    color: #fff;
}

#result {
    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#scroll {
    margin-top: 8px;
}

#telling {
    width: 1%;
    height: 380px;
    box-sizing: border-box;

    background: rgb(255, 255, 255);
    border-top: 25px solid var(--primary-color);
    border-right: 25px solid var(--primary-color);
    border-bottom: 25px solid var(--primary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}

#telling.show {
    width: 85%;
    transition: 0.5s;
}

#telling.hide {
    width: 1%;
    transition: 0.5s;
}

#telling p {
    margin: 10px;

    color: var(--grey);
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

#weight {
    color: var(--primary-color) !important;
    font-size: 36px !important;
    font-weight: 700 !important;
}

