* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%
}

@media screen and (max-width: 1200px) {

    .contentcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #functions {
        width: 80%;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 3vh;
    }


    #calendarpage {
        width: 80%;
        align-self: center;

    }


    #lunar-date {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 2;
        gap: 1.5vh;
    }

    p {
        font-size: 2.5vh !important;
    }

    .des, .month, .year {
        transform: scale(1.2);
    }

    .day {
        font-size: 8vh !important;
    }


    #zodiac-image {
        width: 20vw !important;
        align-self: center;
    }

    .termnphase {
        margin-top: 0;
    }


    #dos, #donts {
        margin-bottom: 1vh;
    }

    .list-group {
        height: 35vh !important;
    }

    .list-group-item {
        padding: 1vh !important;
    }

    .moonphase, .solarterm {
        font-size: 0.8em !important;
    }

    .moonphaseimg {
        height: 10vh !important;
    }

    .card-title {
        font-size: 3vh !important;
    }


    .card-link {
        text-align: center;
        margin-top: 10vh;
    }


}


body {
    height: 100vh;
    overflow: auto;
    font: normal 100%;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}


h1 {
    text-align: center;
}


.contentcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: stretch;
}

.calendar {
    width: 50%;
    height: 80%;
    position: relative;
}


.today {
    font-size: 3vh;
}

.calendarcontent {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5vh;
}

#previous-day, #next-day {
    margin-top: 25vh;
    border: transparent;
    font-size: 4vh;
}

#previous-day {
    margin-left: 1vw;
}

#next-day {
    margin-right: 1vw;
}

.btn-outline-secondary:hover {
    background-color: var(--dim);
}

.btn-outline-secondary:active {
    background-color: var(--dim) !important;
}


.calendarcontent > .dos,
.calendarcontent > .donts {
    flex: 0 0 30%;
    margin-bottom: 1vh;
}

.calendarcontent > .dos {
    order: -1;
}

.date {
    background: var(--primary-color);
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.4vh;
}


.card {
    background-color: transparent;
}

.termnphase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}


.solarterm {
    text-align: right;
}

.moonphase, .solarterm {
    height: 25vh;
    padding: 0.3vw 0.7vw;
    border-image-source: radial-gradient(40% 100%, transparent 50%, transparent 100%, var(--primary-color-lighter) 50%);
    border-image-slice: 1;
    border-width: 1.5px;
    border-style: solid;
    border-image-outset: 1px;
}

.termnphasecontent {
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 1vh;
    gap: 2vw;
}

.termdes {
    margin-top: 0.2vh;
    color: var(--dark);
}

.termcontent {
    color: var(--primary-color-lighter);
}

.card-link {
    text-align: center;
    margin-top: 0.5vh;

}

/*.card-link a {
    color: var(--primary-color);
}

.card-link a:hover {
    color: var(--primary-color-lighter);
}

.card-link a:active {
    color: var(--primary-color-darker);
}*/

.card-title {
    color: var(--primary-color-darker);
    font-size: 3vh;
    margin-bottom: 0;
}

.functioncontainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-wrap: wrap;
    align-items: stretch;
    width: 20%;
    margin-bottom: 3vh;
}

.functioncontainer > .card {
    padding: 0;
    border: 1.5px solid;
    border-image-source: radial-gradient(100% 40%, transparent 50%, transparent 100%, var(--primary-color-lighter) 50%);
    border-image-slice: 1;
    border-image-outset: 1px;
}

.card-text {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.card-img-top {
    height: 20vh;
    object-fit: contain;
    align-self: center;
    margin-bottom: 0;
}


.scale:hover {
    animation: rotate 1.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}


.lot:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1vh);
    }
    50% {
        transform: translateY(1vh);
    }
    75% {
        transform: translateY(-1vh);
    }
    100% {
        transform: translateY(0);
    }
}

.functioncontainer > .card > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.btn {
    font-size: 2.3vh;
}

/*.btn-primary {
    margin-top: 5px;
    background-color: #897170;
    border-color: #897170;
}

.btn-primary:hover {
    background-color: #9E2C36;
    border-color: #9E2C36;
}

.btn-primary:active {
    background-color: #AA373F !important;
    border-color: #AA373F !important;
}

.btn-primary:disabled {
    background-color: #897170;
    border-color: #897170;
}*/


#calendarpage .card {
    border: none;
}

.card-header {
    background-color: transparent;
}

.list-group {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    height: 35vh;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 1.5vh;
    background-color: #fff;
    border: 0.1vh solid rgba(0, 0, 0, .125);
    font-size: 2.4vh;
}

.list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
    font-size: 1.3vw;
}

.dos-title {
    background-color: var(--primary-color);
}

.donts-title {
    background-color: var(--dark);
}


#dos .list-group-item {
    color: var(--primary-color);
    background-color: transparent;
}

#donts .list-group-item {
    color: var(--dark);
    background-color: transparent;
}

#currentdate {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#lunar-date {
    font-family: engfont, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.des {
    color: var(--primary-color-darker);
    font-size: 1.5vw;
    margin-top: 3vh;
}


.day {
    color: var(--primary-color);
    font-size: 5vw;
    margin-top: 1.5vh;
}

.month {
    color: var(--primary-color-lighter);
    font-size: 2vw;
}

.year {
    color: var(--primary-color-lightest);
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

#zodiac-image {
    width: 10vw;
}

.moonphaseimg {
    height: 14vh;
}

.phasename {
    margin-top: 1vh;
    color: var(--dark);
}

.phasech {
    margin-top: 1vh;
    color: var(--dark);
}

#currentdate {
    cursor: pointer;
    height: 8vh;
}

#currentdate:hover::before {
    content: "Back to today";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dim);
    color: #fff;
    padding: 1vh;
    border-radius: 2vh;
    font-size: 2vh;
}



