
/*@font-face {
    font-family: 'dejima';
    src: url('字体名称：dejima.ttf') format('truetype');
    font-family: 'carbon';
    src: url('carbon_text/CarbonText-Strong.ttf') format('truetype');
    font-family: 'Hatton';
    src: url('Hatton-Semibold.otf') format('truetype');
}*/

.everything_container{
    width: 80%;
    margin: 0 auto;
}

body {
    min-width: 800px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div2 { order:2; grid-area: 1 / 1 / 5 / 2; }
.div3 { order:3; grid-area: 1 / 2 / 5 / 6; }


.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.responsive-image {
    width: 100%;
    height: auto;
    display: block;
    opacity: .6;
}

#moon-sun-perspective {
    position: fixed;
    display: block;
    top: -400px;
    right: 200px;

}

.eng_head {
    margin-top: 100px;
    position: relative;
    display:block;
    text-align: right;
    justify-content: flex-end;
    z-index: 3;
}


#t1 {
    display: block;
}
#t2{
   display: block;
    margin-top: -70px;
}

#t3{
    display: block;
    margin-top: -55px;
    font-size:55px;
}


h2 {
    /*font-family: Hatton;*/
    font-size: 4.3em;
    letter-spacing: 3px;
}

.text-box{
    display:flex;
    position:relative;
    justify-content: flex-end;
    height:30vh;
    margin-top:15vh;

}

.text-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:-10px;
    z-index: 3;
}

.text-block {
    width: 32%;
    padding: 1%;
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.text-block {
    font-size: 0.9em;
}


.image-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.image {
    width: 100%; /* Adjust the width according to your preference */
    object-fit: cover; /* Preserve the aspect ratio of the images */
}

.perspective_container {
    display: flex;
    position: relative;
    margin-top: 75px;

}

#track {
    position: absolute;
    width: 700px; /* Set the desired width */
    height: auto;
    z-index: -1;
    padding-top: 100px;
}

.sidebar {
    position: relative;
    padding: 5px;
    z-index:1;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

#moon_b_img {
    height:auto;
    weight:120%;
}

#home {
    margin-top: 50px;
}

#sun_button {
    margin-top: 60px;
}

#moon_button {
    margin-top: 50px;

}




.sidebar-button {
    display: block;
    margin-top: 0px;
    width:120px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;


}

.sidebar-button:hover {
    transform: scale(1.2);
}

#home:hover::before {
    content: "Back to info page";
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -210px;
    transform: translateX(-50%);
    background-color: var(--dim);
    color: #fff;
    padding: 2vh;
    border-radius: 2vh;
    font-size: 1vh;
    width: 100px; /* adjust this as necessary */
    white-space: nowrap;
}

#sun_button:hover::before {
    content: "Check out 24 Solar terms!";
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -280px;
    transform: translateX(-50%);
    background-color: var(--dim);
    color: #fff;
    padding: 2vh;
    border-radius: 2vh;
    font-size: 1vh;
    width: 150px; /* adjust this as necessary */
    white-space: nowrap;
}

#moon_button:hover::before {
    content: "Check out Moon Phases！";
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -280px;
    transform: translateX(-50%);
    background-color: var(--dim);
    color: #fff;
    padding: 2vh;
    border-radius: 2vh;
    font-size: 1vh;
    width: 150px; /* adjust this as necessary */
    white-space: nowrap;
}



.highlighted-word {
    color: #9e2c36;
}


@media screen and (max-width: 920px) {
    .eng_head {
        top: 10%;
        align-items: center;
    }


    #t2{
        display: block;
        margin-top: -80px;
    }

    #t3{
        display: block;
        margin-top: -70px;
        font-size:55px;
    }


}

@media screen and (max-width: 1530px) {
    .eng_head {
        top: 1%;
        align-items: center;
    }



    #t2{
        display: block;
        margin-top: -50px;
    }

    #t3{
        display: block;
        margin-top: -50px;
    }
}

@media screen and (max-width: 1100px) {
    .text-container {
        flex-direction: column;
    }

    .text-block {
        width: 100%;
    }


}





